.light {
  color: rgba(64, 89, 173);
  color: rgb(24, 44, 109);
  color: rgb(239, 242, 241);
  color: rgb(241, 166, 15);
  color: rgb(151, 216, 196);
  color: rgb(49, 54, 57);
  color: rgb(245, 245, 245);
  color: rgb(241, 241, 241);
  color: #f6416c;
  color: rgb(27, 49, 122);
  color: rgb(51, 72, 138);
  color: rgb(56, 56, 56);
  color: #0d7377;
  color: #14ffec;
  color: rgb(64, 89, 173);

  color: #f0f0f0;
  color: #0d0d0d;
  color: #e1a87a;
  color: #fff;
  color: rgba(13, 13, 13, 0);
  color: #151515;
}

.dark {
}
