.light {
  color: rgba(64, 89, 173);
  color: rgb(24, 44, 109);
  color: rgb(239, 242, 241);
  color: rgb(241, 166, 15);
  color: rgb(151, 216, 196);
  color: rgb(49, 54, 57);
  color: rgb(245, 245, 245);
  color: rgb(211, 211, 211);
  color: #f6416c;
  color: rgb(27, 49, 122);
  color: rgb(51, 72, 138);
  color: rgb(73, 76, 78);
  color: #0d7377;
  color: #14ffec;
}

.dark {
}
